body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f0f2f5;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    width: 100%;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

#map-container, #hrv-container {
    flex: 1;
    max-width: 600px;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative; /* Añadido para posicionar el modal */
}

#map {
    height: 500px;
    width: 100%;
    border-radius: 8px;
}

#hrv-container {
    max-height: 500px;
    overflow-y: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    width: 100%;
    position: relative;
}

#hrv-chart {
    height: 400px;
    width: 100%;
    border-radius: 8px;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: absolute; /* Cambiado a absolute */
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Para centrar el modal */
    width: 80%;
    max-width: 300px;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #45a049;
}